**/node_modules/**
**/dist/**
**/storybook-static/**
**/coverage/**
**/build/**
**/.git/**
**/public/**
!.eslintrc.js
/packages/adapters/src/TextFit/**
/packages/react-exit-modal-typeform/**
/packages/icons/scripts/**
/packages/styles/bin/**