.rich-text-editor {
	&-controls {
		&__bold {
			font-weight: bolder;
			margin-right: 14px;
		}

		&__italic {
			font-style: italic;
		}

		&__underline {
			text-decoration: underline;
		}
	}
}

.rich-text-editor-root {
	border-color: var(--ee-border-color);
	border-radius: var(--ee-border-radius-small);
	border-style: solid;
	border-width: 3px;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny);

	* {
		color: var(--ee-default-text-color);
	}
}

.rich-text-editor-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-top: 10px;

	.public-DraftEditor-content,
	.public-DraftEditorPlaceholder-root {
		margin: 0 -15px -15px;
		padding: 15px;
	}

	.public-DraftEditor-content {
		min-height: 100px;
	}
}

.rich-text-editor-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.rich-text-editor-editor {
	.rich-text-editor-blockquote {
		border-left: 5px solid #eee;
		font-style: italic;
		margin: 16px 0;
		padding: 10px 20px;
	}

	.public-DraftStyleDefault-pre {
		background-color: rgba(0, 0, 0, 0.05);
		font-size: 16px;
		padding: 20px;
	}
}

.rich-text-editor-controls {
	font-size: 14px;
	margin-bottom: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rich-text-editor-styleButton {
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.rich-text-editor-activeButton {
	color: #5890ff;
}
