.ee-generated-dates-bg {
	&--rDate {
		background-color: rgb(38, 151, 15);
	}

	&--exDate {
		background-color: rgb(206, 43, 111);
	}

	&--gDate {
		background-color: rgb(33, 148, 200);
	}

	&--locked {
		background-color: rgb(160, 105, 205);
	}

	&--expired {
		background-color: rgb(169, 171, 165);
	}
}
