@import '~@eventespresso/styles/src';

.ee-select-wrapper.ee-select-wrapper {
	display: inline-flex;
	width: auto;

	.ee-select {
		@include ee-base-inputs-styles;
		appearance: none;
		padding-right: var(--ee-padding-default);

		&__inline-wrapper {
			align-items: center;
			display: flex;
			min-width: 9rem;
		}
	}

	.chakra-select__icon-wrapper {
		right: 1px;

		svg {
			color: var(--ee-border-color) !important;
			height: 1.25rem !important;
			width: 1.25rem !important;
		}
	}
}
