@import '~@eventespresso/styles/src';

.ee-sort-by-control {
	align-items: flex-end;
	display: flex;
	padding-bottom: var(--ee-padding-tiny);

	.ee-input-label__wrapper {
		padding-bottom: 0;
	}
}

.ee-filter-bar-modal__reorder-entitites {
	@include min667px {
		min-width: 40rem;
	}
}
