.ee-datetime-row {
	&__title {
		align-items: center;
		display: inline-block;
		padding: var(--ee-padding-tiny);

		svg {
			margin-right: 0.5rem !important;

			path {
				fill: white;
			}
		}

		span {
			color: white;
		}
	}
}
