name: End-to-End Tests

on:
    pull_request:
        paths-ignore:
            - '**.md'
    push:
        branches: [master]
        paths-ignore:
            - '**.md'

jobs:
    admin:
        name: Admin

        runs-on: ubuntu-latest

        strategy:
            fail-fast: false

        steps:
            - uses: actions/checkout@v2

            - name: Cache dependencies
              id: cache-deps
              uses: actions/cache@v2
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

            - name: Use Node.js 14.x
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x

            # Install all dependencies at root
            - name: Install dependencies
              # install deps only if lockfile has changed
              if: steps.cache-deps.outputs.cache-hit != 'true'
              run: yarn install --frozen-lockfile

            - name: Install WordPress
              run: |
                  npm run wp-env start

            - name: Setup Playwright
              uses: microsoft/playwright-github-action@v1

            - name: Running the tests
              run: yarn test:e2e

            - name: Archive debug artifacts (screenshots, HTML snapshots)
              uses: actions/upload-artifact@v2
              if: failure()
              with:
                  name: failures-artifacts
                  path: artifacts
