@import '~@eventespresso/styles/src';

.ee-event-registration-options {
	.ee-grid {
		> div {
			border-radius: var(--ee-border-radius-default);
			box-sizing: border-box;
			flex-direction: column-reverse;
			padding: var(--ee-padding-default);
			padding: 0.75rem 1rem 0.5rem;

			label {
				margin: var(--ee-margin-smaller) 0;
			}

			h4 {
				font-size: var(--ee-font-size-big);
				font-weight: 600;
			}

			&:not([class*='status']) {
				h6 {
					color: var(--ee-default-text-color-high-contrast);
				}
			}

			h6 {
				font-size: var(--ee-font-size-small);
				font-weight: 600;
				margin: 0;
				max-width: 15rem;
			}

			.ee-tabbable-text {
				&.ee-tabbable-text--no-text {
					font-size: var(--ee-font-size-small);
				}

				&__inner_wrapper {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 15rem;
				}
			}

			.ee-inline-edit-select {
				.ee-tabbable-text {
					background-color: var(--ee-color-primary);
					border-radius: var(--ee-border-radius-default);
					color: var(--ee-text-on-primary);
					min-height: auto;
					padding: var(--ee-padding-tiny) var(--ee-padding-smaller);

					svg {
						g {
							stroke: var(--ee-text-on-primary);
						}
					}
				}
			}
		}
	}

	&__status {
		flex-direction: column !important;

		h6.ee-heading {
			color: var(--ee-color-white);
			font-size: var(--ee-font-size-smaller);
			font-weight: 400;
			height: 1.8rem;
			letter-spacing: 0.0625rem;
			margin: auto 0 0;
		}

		.ee-select {
			background-color: transparent !important;
			color: var(--ee-color-white) !important;
		}
	}

	&__alt-reg {
		h4 {
			font-size: var(--ee-font-size-default);
			font-weight: 500;
			line-height: var(--ee-font-size-bigger);
		}
	}
}
